.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(39, 174, 96);
  transition-property: background-color;
  transition-duration: 4s;
  position: relative;
  z-index: 0;
}

.quotes-content {
  width: 500px;
  position: relative;
  z-index: 5;
  background: white;
  padding: 40px;
}
.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(39, 174, 96);
  transition-property: color;
  transition-duration: 4s;
}

.btn {
  transition-property: background-color;
  transition-duration: 4s;
  padding: 10px;
  background: rgb(39, 174, 96);
  color: white;
  border-radius: 3px;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  border-style: none;
  outline: none;
}
.btn:focus {
  outline: none;
}
.random-button {
  width: 450px;
  display: flex;
  justify-content: flex-end;
}
.quote-author {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text {
  font-family: "Releway";
  font-size: 28px;
}
.author {
  font-family: "Releway";
  font-size: 16px;
}
